* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #900;
}

.titulohead {
	font-size: 24px;
	color: #FFF;
	font-weight: bold;
}

.wrapper {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.contenedor {
	width: 100%;
	left: 0;
	/* max-width:1000px;*/
	/*#B30808 rojo fia*/
	margin: 0 auto;
	vertical-align: top;
}

.contenedor p {
	/*margin-bottom:10px;*/
	
}

.div {
	/* vertical-align:top;*/
	
}

header nav {
	background: #000000;
	margin-top: 0px;
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	-transition: all ease .5s;
}

header nav ul {
	list-style: none;
	overflow: hidden;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	display: block;
	padding: 5px 20px; /*menu  */
	color: #fff;
	text-decoration: none;
}

header nav ul li a:hover {
	background: #2980b9; /*2980b9 azul  B30808 rojo*/
}

/* ---  Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	/*max-width:1000px;box-shadow: */
	width: 100%;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
}

.menu-fixed ul li a {
	padding: 5px 20px;
}

.letra {
	color: #FFF;
}