._jsPlumb_overlay {
	z-index: 51;
}

._jsPlumb_endpoint {
	z-index: 10;
	cursor: move;
}

._jsPlumb_connector {
	z-index: 1;
}

.window {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #A901DB; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

------------------------------
-DESDE ACA LOS DIV POR MENCIÒN----------------------------------------------


.window8 {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: yellow; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.window2 {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #7A4D29; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.window3 {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #E2AF40; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.window1 {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #3339DF; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.window4 {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #6F23B0; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.window6 {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #bdcfdf; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.window7 {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: BLUE; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.window5 {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #D02FDF; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.window1_M {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #18D50E; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.window2_M {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #287524; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.window3_M {
	border: 2px solid black;
	border-color: black;
	/* box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em; */
	border-radius: 0em;
	opacity: 1;
	filter: alpha(opacity = 80);
	width: 100px;
	height: 60px;
	line-height: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
	background-color: #10C4D0; /*DivDelCurso*/
	color: white;
	font-family: helvetica;
	padding: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

------------------------------
-HASTA ACA LOS DIV POR MENCIÒN----------------------------------------------
.window:hover {
	box-shadow: 2px 2px 19px #444;
	-o-box-shadow: 2px 2px 19px #444;
	-webkit-box-shadow: 2px 2px 19px #444;
	-moz-box-shadow: 2px 2px 19px #444;
	opacity: 1;
	filter: alpha(opacity = 60);
	z-index: 80;
}

.dropHover {
	border: 1px solid orange;
}

#90002_estilo {
	top: 10em;
	left: 12em;
}

#90005_estilo {
	top: 100em;
	left: 12em;
}

#90663_estilo {
	top: 30em;
	left: 12em;
}

#90709_estilo {
	top: 40em;
	left: 12em;
}

#90710_estilo {
	top: 50em;
	left: 12em;
}

#90971_estilo {
	top: 60em;
	left: 12em;
}

#91113_estilo {
	top: 70em;
	left: 12em;
}

#91114_estilo {
	top: 80em;
	left: 12em;
}